* {
    margin: 0;
    padding: 0;
}
body{
    background-color: #08071d;
}
.whole{
    display: flex;
margin-top: 50px;
}
.navbar{
    margin-left: 65%;
    margin-top: 20px;
    color: white;
}

.navbar a {
    display: inline-block;
    font-size: 20px;
    color: #fff;
    margin-right: 20px;
    text-decoration: none;
    font-weight: 500;
    margin-left: 25px;
    transition: 2s;
    opacity: 1;
    animation: slidetop .5s ease forwards;
    animation-delay: calc(.3s * var(--i));
}
h2{
    color: rgb(15, 178, 207);
    font-size: 50px;
    font-weight: 600;
    text-align: center;
    margin-top: 50px;
    opacity: 1;
    animation: slideleft 1s ease forwards;
    animation-delay: 0.2s;
   
}

.header{
    margin-left: 10%;
    margin-top: 10%;
    height: 300px;
    width: 483px;
    opacity: 0;
    animation: slidebottom 1s ease forwards;
    animation-delay: 0.8s;
}

.header h4{
font-size: 20px;
margin-bottom: 10px;
color: #fff;
cursor: pointer;
}
.header h4:hover{
    color: chartreuse;
}
.header i{
    font-size: 25px;
    padding:10px ;
    background-color: #f06;
    border-radius: 50%;
}
.header i:hover{
    cursor: pointer;
    background-color: #007cb9;
}
.header p{
font-size: 25px;
color: #fff;
cursor: pointer;
}
.header p:hover{
    color: chartreuse;
}
.header h5{
    font-size: 20px;
    margin-top: 10px;
    color: #fff;
    cursor: pointer;
    }
    .header h5:hover{
        color: chartreuse;
    }
    .header h6{
        font-size: 23px;
        color: #fff;
        cursor: pointer;
        margin-left: 13%;
    }
    .header h6:hover{
        color: chartreuse;
    }
.container{
    margin-top: -8%;
    min-height: 100vh;
    /* background: #08071d; */
    display: flex;
    justify-content: center;
    align-items: center;
    opacity: 0;
    animation: slide 1s ease forwards;
    animation-delay: 0.9s;
    /* background: url(images/istockphoto-1065941184-612x612.jpg) no-repeat center center/cover; */
}

.container form{
    width: 670px;
    height: 400px;
    display: flex;
    justify-content: center;
    box-shadow: 20px 20px 50px rgba(0, 0, 0, 0.5);
    border-radius: 15px;
    background: rgba(225, 225, 225, 0.1);
    backdrop-filter: blur(10px);
    flex-wrap: wrap;
}

.container form h1 {
    color: #fff;
    font-weight: 500;
    margin-top: 20px;
    width: 500px;
    text-align: center;
    font-size: 35px;
}

.container form input {
    width: 290px;
    height: 40px;
    padding-left: 10px;
    outline: none;
    border: none;
    font-size: 15px;
    margin-bottom: 10px;
    background: none;
    border-bottom: 2px solid #fff;
}

.container form input::placeholder {
    color: #ddd;
}

.container form #lastName,
.container form #mobile {
    margin-left: 20px;
}

.container form h4 {
    color: #fff;
    font-weight: 300;
    width: 600px;
    margin-top: 20px;
}

.container form textarea {
    background: none;
    border: none;
    border-bottom: 2px solid #fff;
    color: #fff;
    font-weight: 200;
    font-size: 15px;
    padding: 10px;
    outline: none;
    min-width: 600px;
    max-width: 600px;
    min-height: 80px;
    max-height: 80px;
}

textarea::-webkit-scrollbar {
    width: 1em;
}

textarea::-webkit-scrollbar-thumb {
    background-color: rgba(194, 194, 194, 0.173);
}

.container form #button {
    border: none;
    background: #fff;
    border-radius: 5px;
    margin-top: 20px;
    font-weight: 600;
    font-size: 20px;
    color: #333;
    padding: 10px;
    /* margin-left: 28%; */
    margin-right: 500px;
    margin-bottom: 30px;
    transition: 0.3s;
}

.container form #button:hover {
    opacity: 0.7;
    color: white;
    background:linear-gradient(45deg,#007cb9, #f06, #0c1022);
}
.finish {
margin-left: 20px;
}

.last p{
    font-size: 25px;
    color: white;
    text-align: center;
    margin-top: -30px;
}

@keyframes slidetop {
    0% {
        opacity: 0;
        transform: translateY(100px);
    }

    100% {
        opacity: 1;
        transform: translateY(0px);
    }
}

@keyframes slideleft {
    0% {
        opacity: 0;
        transform: translateX(100px);
    }

    100% {
        opacity: 1;
        transform: translateX(0px);
    }
}

@keyframes slidebottom {
    0% {
        opacity: 0;
        transform: translateY(-100px);
    }

    100% {
        opacity: 1;
        transform: translateY(0px);
    }
}

@keyframes slide {
    0% {
        opacity: 0;
        transform: translateY(100px);
    }

    100% {
        opacity: 1;
        transform: translateY(0px);
    }
}


@media screen and (min-width:350px) and (max-width:730px){
   
   
h2{
    font-size: 30px;
}
.navbar a{
    font-size: 15px;
    flex-direction: row;
    margin-left: 0px;
    margin-right: 15px;
    color: white;
   }
.navbar{
    margin-top: 20px;
    margin-left: 35px;
    padding: 0px;
    opacity: 0;
    animation: slidemain 5s ease forwards;
   }
.whole{
    flex-wrap:wrap ;
}
.header{
    margin-top:10px;
}
.header h4{
    font-size: 20px;
}
.header i{
    font-size: 20px;
}
.header p{
    font-size: 15px;
}
.header h5{
    font-size: 16px;
}
.header h6{
    font-size: 16px;
    margin-left: 18%;
}
.container{
    margin-top: -80px;
    padding-left: 23px;
}

.container form{
    width: 300px;
    height: 800px;
 
}
.container form h1{
    font-size: 30px;
}

.container form input {
    width: 250px;
    height: 30px;
}
.container form #lastName{
margin-left: 0px;
}

.container form #mobile{
    margin-left: 0px;
    }

.container h4{
    margin-left: 10px;
}
.container form textarea{
    min-width: 250px;
    max-width: 250px;
    min-height: 40px;
    max-height: 40px;
}
.container form #button{
    font-size: 20px;
    height: 35px;
    width: 150px;
    background-color: white;
    color: black;
    margin: 20px;
    border-radius: 20px;
}
.last p{
    font-size: 15px;
    color: white;
    text-align: center;
    margin-top: 40px;
}
}

@keyframes slidemain {
    0% {
        opacity: 0;
        transform: scale(50%,20%);
    }

    50% {
        opacity: 1;
        transform: transform(100px);
    }
    100%{
        opacity: 1;
        transform: rotatex(360deg);
    }
}


